@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  background: linear-gradient(to bottom right, #d2aef8, #00fad9) fixed;
}
h1, p, h2 {
  font-family: 'Poppins';
  
}

h1 {
  font-size: 10vh;
}

h2 {
  font-size:  5vh;
}
p {
  font-size: 3vh;
}

#hook{
  margin-top: 20%;
}

#demo_img{
  max-width: 800px;
  max-height: 800px;
  width:auto;
  height:auto;
  margin-top:5%;
  margin-left: auto;
  margin-right: auto;
  border-radius:25px;
}

body {
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.page{
  margin: 0;
  padding: 0;
  display: flex;
}

#second_page_container{
  text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width:100%;
}

#left_div, #right_div, #description {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex: 50%;
  height: 100vh;
}

#left_div{
  transform: skewX(15deg);
  background: #ffffff;
  margin-right: -10vw;
  padding-right: 10vw;
}

#anti_skew_container{
  transform: skewX(-15deg);
}

#second_page_div_left #second_page_div_mid #second_page_div_right{
  float: left; 
}
#description {
  max-width: 75%;
}

#start_button {
  background-color: #00ace6;
  border: none;
  border-radius: 16px;
  color: black;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Poppins';
  margin-left: -15%;
  cursor: pointer;
}

#login_button {
  background-color: #ffffff;
  border: none;
  border-radius: 16px;
  color: black;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Poppins';
  margin-left: 15%;
  cursor: pointer;
}

#button_container{
  display: flex;
  width: 200px;
  margin: 0 auto;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 30vh;
}


.modal-content {
  background-color: #fefefe;
  margin: 5px auto; 
  width: 250px; 
  border-radius: 16px;
}

.close {
  float: right;
  padding-top: 1%;
  padding-right: 2%;
  top: 0;
  color: #000;
  font-size: 15px;
  font-weight: bold;
}

.g_id_signin {
  padding-top: 7%;
  padding-bottom: 7%;
  padding-left: 3%;
}


.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}



@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}