@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
  position: absolute;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100%;
  scroll-behavior: smooth;
  background: linear-gradient(to bottom right, #0D1117, #0D1117) fixed;
}
h1, p, h2, h3 {
  font-family: 'Poppins';
  color: #ffffff
}

h1 {
  font-size: 10vh;
}

h2 {
  font-size:  5vh;
}

h3

p {
  font-size: 3vh;
}

#hook{
  margin-top: 20%;
  text-shadow: 0 0 128px #ffffff;
}

#demo_img{
  max-width: 70vh;
  height:auto;
  margin-top:5%;
  margin-left: auto;
  margin-right: auto;
  border-radius:25px;
  object-fit: contain;
}

body {
  margin: 0;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;  
  background-size: cover;
}

.page{
  margin: 0;
  padding: 0;
  display: flex;
}

.desc_text{
  margin: 0;
}
.desc_large_text{
  margin-bottom: 1vh;
  text-shadow: 0 0 64px #ffffff;
}



#second_page_container{
  text-align: center;
    font-size: 30px;
    color: white;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width:100%;
}

#left_div, #right_div, #description {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  flex: 50%;
  height: 100vh;
}

#left_div{
  transform: skewX(-30deg);
  background: #000000;
  margin-right: -25vw;
  padding-right: 25vw;
}

#anti_skew_container{
  transform: skewX(30deg);
}

#second_page_div_left, #second_page_div_mid, #second_page_div_right{
  float: left;
  width: 100%;
  height: 100%;
  padding-left: 5vw;
  padding-right: 5vw;
}
#second_page_div_left{
  margin-top: 5%;
}
#second_page_div_mid{
  margin-top: 25%;
}
#graded_desc{
  margin-top: 95%;
}
#description {
  max-width: 75%;
}

#sign_up_text{
  font-size: 16px;
  
}


#start_button {
  background-color: #00ace6;
  border: none;
  border-radius: 16px;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Poppins';
  margin-left: -15%;
  cursor: pointer;
}
#sign_up_button{
  background-color: #00ace6;
  border: none;
  border-radius: 16px;
  margin: 7px -36px;
  margin-left: 16px;
  padding-left: 16px;
  padding-right: 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Poppins';
  cursor: pointer;
}

#sign_up_container{
  white-space: nowrap;
  margin-left: 10vh;
}

#login_button {
  background-color: #ffffff;
  border: none;
  border-radius: 16px;
  padding: 7px 16px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Poppins';
  margin-left: 15%;
  cursor: pointer;
}

#button_container{
  display: flex;
  width: 200px;
  margin: 0 auto;
  align-items: center;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  padding-top: 30vh;
}


.modal-content {
  background-color: #fefefe;
  margin: 5px auto; 
  width: 250px; 
  border-radius: 16px;
}

.close {
  float: right;
  padding-top: 1%;
  padding-right: 2%;
  top: 0;
  color: #000;
  font-size: 15px;
  font-weight: bold;
}

.g_id_signin {
  padding-top: 7%;
  padding-bottom: 7%;
  padding-left: 3%;
}


.animate {
  -webkit-animation: animatezoom 0.6s;
  animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)}
  to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
  from {transform: scale(0)}
  to {transform: scale(1)}
}



@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}